---
id: 1
key: 1
lang: en
ref: association
title: Association
background-image: rouen4.jpg
permalink: /association-en/
excerpt: Nous travaillons pour créer un réseau entre  doctorants et  docteurs.
---
<div align="center">
  <a href="#services" class="button special">Services</a>
  <a href="#membres" class="button special">Bureau</a>
</div>

<section id="greeting" class="wrapper style5 special" style="text-align: justify;  text-justify: inter-word;">
  <div class="inner mediumwidth">
    <header class="major">
  
  <a name="services">  
  <h1 style="color: black; text-align: left">Services</h1></a>
  <p >
    ADDED is the Association of PhD students and young doctors of the Doctoral Schools PSIME and MIIS located at the university of Rouen and the university of Le Havre. It is an association governed by the law 1901 created in December 2012.
    <br>
    The objectives of the association are:
    <ul>
      <li>Bring the help to the Phd students from the registration to the defense throughout the relation with the Doctoral Schools.</li>
      <li>Maintain the relation between the PhD students through the organization of social, cultural and scientific activities.</li>
      <li>Encourage communication and scientific popularization.</li>
      <li>Maintain the relations between the PhD students and the doctors coming from the same Doctoral Schools in order to benefit from their experience and develop the professional network of each.</li>
    </ul>
  </p>
  <p >
    In order to accomplish its goals, the association establishes communications
     and regular meetings. The main event of each year is the organization of 
     the Day of PhD Students (Journée des Doctorants, JDD) of the Doctoral 
     Schools. This event is dedicated for PhD students who can also participate 
     in its organization along with the association's members. On this special 
     day, PhD students are invited to present their work in an informal way 
     for a general audience coming from different fields.
    (<a href="{{site.url}}/jdd-{{page.lang}}/">more inforamtion</a>). 
  </p>
  <p >
    In order to help PhD students of different laboratories of the SMPII 
    Doctoral School to get to know each other, ADDED organizes informal 
    going out sessions during the year at Rouen or the Havre. ADDED takes 
    joy on helping PhD students throughout their administrative procedures 
    (academic, culture, sports, housing, among others), especially for the 
    non-francophone people.
  </p>
  <p >
    The association has an office equipped with self-service computers 
    available that PhD students can use. The office is located in 
    Saint-Etienne du Rouvray, Technopole du Madrillet, Université de Rouen 
    Normandie. (<a href="{{site.url}}/contact-{{page.lang}}">contact</a>).
  </p>
  <p >
    Assistance for your administrative documents is also available if you wish, especially for non-French speaking foreign students.
  </p>
  <p >
    The association is currently preparing a set of seminars 
    (<a href="{{site.url}}/evenements-{{page.lang}}/">stay updated</a>) in order to raise 
    awareness among the undergraduate and graduate students of pursuing a 
    fruitful PhD career..
  </p>
</header>
</div>
</section>

<a name="membres"></a>
{% include members-{{page.lang}}.html %}

{% include previous-members-{{page.lang}}.html %}
