---
key: 2
title: Évènements
lang: fr
ref: events
permalink: /evenements-fr/
options: fullwidth
excerpt: Restez informé
background-image: rouen4.jpg
---
<section id="greeting" class="wrapper style5 special" style="text-align: justify;  text-justify: inter-word;">
  <div class="inner mediumwidth">
    <header class="major">
    <p >
      L'association ADDED organise des évènements scientifiques et sociaux qui 
      touchent la vie des doctorants. Nous mettons à jour cette page pour vous 
      tenir informés des nouveaux évènements à venir. Si vous avez des idées 
      sur des activités que vous aimeriez faire, n'hésitez pas à nous contacter 
      (<a href="{{site.url}}/contact-{{page.lang}}/">contact</a>).
    </p>
    </header>
  </div>
</section>


<!-- The below part is independent of the langauge. -->

{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Prochainement</h4>
  <ul class="post-list">
    {% assign postslang=site.categories.evenements | where:"lang", page.lang %}
    {% for post in postslang %}  
        {% if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            {% if post.options contains "past" %}
        <p class="post-date" style="text-decoration: line-through;">{{ post.date | date: "%Y-%m-%d" }} {{ post.date | date: '%Y-%m-%d' }}</p>
        {% else %}
        <p class="post-date">{{ post.date | date: "%Y-%m-%d" }} </p>
      {% endif %}
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 100 }}</p>
          </div>
        </a>
      </li>{% endif %}{% endfor %}
  </ul>{% endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">
      {% assign p = '9999'%}
      {% assign postslang=site.categories.evenements | where:"lang", page.lang %}
      {%  for post in postslang %}{%
            assign n = post.date | date: "%Y"%}{%
                  if n != p%}{%
                          assign p = n%}
      <br /><h5>{{ n }}</h5>
      {% endif %}
      {% if post.options contains "past" %}
      <li style="padding-bottom: 6px;"><code>[<span style="text-decoration: line-through;">{{ post.date | date: "%d %b" }}</span>]</code>
        {% else %}
        <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>
        {% endif %}
         &nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 100 }}</li>{%
      endfor %}
    </ul>

{%  endif %}
