<section id="cta" class="wrapper style4" style="text-align: justify;  text-justify: inter-word;">
  <div class="inner">
    <header>
      <h2>Envoyez Nous un Message</h2>
      <p>Vous pouvez nous contcater par : courier, e-mail, téléphone.
         Vous pouvez aussi venir nous visiter dans notre bureau situé
          à l'UFR des Sciences et Techniques à Rouen. </p>
    </header>
    <ul class="actions vertical">
      <!-- <li><a href="#" class="button fit special">Activate</a></li> -->
      <li><a href='{{ site.baseurl }}/contact-{{ page.lang }}' class="button fit special">Contact</a></li>
    </ul>
  </div>
</section>