<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>Send us a message</h2>
      <p>You can contact us through: letter, e-mail, phone. You can, also, 
        come to visit us in our office which is located at the UFR des Sciences
        et Techniques at Rouen. </p>
    </header>
    <ul class="actions vertical">
      <!-- <li><a href="#" class="button fit special">Activate</a></li> -->
      <li><a href="{{ '/contact/' | prepend: site.baseurl }}" class="button fit special">Contact</a></li>
    </ul>
  </div>
</section>