<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>Forums d'emploi des Jeunes Docteurs 2017</h4>
  <p>
    Afin d’aider les Doctorants dans la maturation de leurs <b>projets professionnels</b>, et notamment en leur faisant découvrir les possibilités de carrières en entreprises, des forums d'emploi sont organisés tous les ans afin de réunir les Doctorants et jeunes Chercheurs ainsi que des entreprises qui les embauchent.
    <br>
L'objectif principal est de faciliter la création d'un réseau fort et ainsi consolider les passerelles entre le secteur académique et le secteur privé.

<br>

Ce déplacement est organisé par les associations des doctorants en Normandie: <a href="{{site.url}}/index-{{page.lang}}">ADDED</a>,
<a href="http://www.bio-normandie.org/">Bio'H</a>,
<a href="http://www.assonormadoc.fr/">NormaDoc</a>,
<a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>.

  </p>
  <h4>PhD Talent Career Fair Octobre 2017 (<a href="https://www.phdtalent.org/program.php">lien</a>)</h4>
  <br>
Le prochain forum de ce type est le <b>PhD Talent Career Fair</b>, qui se tiendra le <b>20 octobre 2017 à Paris</b>. Cet évènement (gratuit) fait intervenir des entreprises dans tous les domaines (100 entreprises cette année). Vous pouvez trouver le programme de la journée à cette adresse : <a href="https://www.phdtalent.org/program.php">https://www.phdtalent.org/program.php</a>.
<br>
Pour cette occasion, un bus sera mis en place au départ de Caen et de Rouen pour s'y rendre (trajet gratuit car nous avons obtenu le financement par la ComUE Normandie Université).
<br>

Si vous souhaitez vous y rendre via le bus mis à disposition, réservez votre place en envoyant un mail à <a href="mailto:association.optic@gmail.com">association.optic@gmail.com</a> en indiquant : 
<ul>
  <li>Nom et prénom.</li>
  <li>Numéro de téléphone.</li>
  <li>Laboratoire et année de thèse.</li>
  <li>Ville où vous monterez dans le bus (Caen ou Rouen).</li>
</ul>
Nous avons 49 places au total, qui seront réparties équitablement entre Caen et Rouen. N'oubliez pas que la réservation d'une place vous engage!
<br>
Que vous vous rendiez au PhD Talent Career Fair par le bus mis en place ou par vos propres moyens, n'oubliez pas de vous inscrire sur leur site : <a href="https://www.phdtalent.org/program.php">https://www.phdtalent.org/program.php</a>.
  <p>
    Afin d'estimer le nombre de doctorants intéressés pour ce rendre à ces 
    forums, veuillez remplir le sondage suivant (il suffit de cocher si 
    l’évènement vous intéresse) : 
    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSca9DgWNhsPtuNy7TF9ytpjp1RsY6QxPvgtssP6rN_rAik31w/viewform">formulaire</a></strong>.
  </p>
</header>
</div>
</section>
