<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>Forums d'emploi des Jeunes Docteurs 2017</h4>
  <p>
    Afin d'aider les docteurs dans leur insertion professionnelle, 
    trois associations normandes de doctorants 
    (<strong><a href="http://assoc-optic.fr/?lang=fr">OPTIC</a></strong>,
    <strong> <a href="http://www.assonormadoc.fr/">NormaDoc</a> </strong>et
     <strong><a href="{{site.url}}/">ADDED</a></strong>) 
    ont pris l'initiative d'organiser un déplacement vers deux forums nationaux 
    d'emplois. Ces forums permettent aux doctorants et jeunes docteurs de 
    rencontrer des entreprises qui embauches. Les forums proposés sont le 
    forum Biotechno 2017 ainsi que le PhD Talent Career Fair . Ces deux 
    forums sont une opportunité pour les <strong>jeunes docteurs</strong> de postuler à des 
    <strong>offres d'emploi à embauches imminentes </strong>via des entretiens,
     lettres de 
    motivations et CV. Ces forums sont vivement conseillés pour les doctorants 
    en dernière année de thèse.
  </p>
  <h4>Le Forum Biotechno Juin 2017 (<a href="http://www.reseau-biotechno.com/?page_id=2079">lien</a>)</h4>
  <ul>
    <li>Découverte des métiers de la biotechnologie et mise en relation des 
      doctorants et jeunes docteurs avec des sociétés de biotechnologies.</li>
    <li>Conférences plénières, présentations d’entreprises, tables rondes, 
        ateliers, stands des entreprises partenaires, networking...</li>
    <li>Organisé par des associations étudiantes dans quatre villes de France 
      (Paris, Lyon, Strasbourg, Dijon), le forum de Paris se tiendra le <strong>16 Juin </strong>
      2017 (tarif de l'entrée pas encore fixé, mais prévoir entre 10 et 20€).</li>
  </ul>
  <p>
    Afin d'estimer le nombre de doctorants intéressés pour ce rendre à ces 
    forums, veuillez remplir le sondage suivant (il suffit de cocher si 
    l’événement vous intéresse) : 
    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSca9DgWNhsPtuNy7TF9ytpjp1RsY6QxPvgtssP6rN_rAik31w/viewform">formulaire</a></strong>.
  </p>
</header>
</div>
</section>
