<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>Job forums for Young Doctors 2017</h4>
  <p>
    In order to help PhD students in the maturation of their <b> professional projects </b>, and in particular by making them discover career opportunities in companies, employment forums are organized every year to bring together PhD students and young researchers as well as companies that hire them.
    <br>
    The main objective is to facilitate the creation of a strong network and thereby consolidate the links between the academic sector and the private sector.
    <br>
    This trip is organized by the associations of PhD students in Normandy: <a href="{{site.url}}/index-{{page.lang}}"> ADDED </a>,
<a href="http://www.bio-normandie.org/"> Bio'H </a>,
<a href="http://www.assonormadoc.fr/"> NormaDoc </a>,
<a href="http://assoc-optic.fr/?lang=en"> OPTIC </a>.
  </p>
  <h4>PhD Talent Career Fair Octobre 2017 (<a href="https://www.phdtalent.org/program.php">link</a>)</h4>
<br>
The next forum of this kind is the <b> PhD Talent Career Fair </b>, which will be the <b> 20<sup>th</sup>, October 2017 in Paris </b>. This event (free of charge) involves companies in all fields (100 companies this year). You can find the program of the day at this address: <a href="https://www.phdtalent.org/program.php"> https://www.phdtalent.org/program.php </a>.
<br>
For this occasion, a bus will be set up from Caen and Rouen to get there (free ride because we got funding from the ComUE Normandie University).
<br>
If you want to get there via the provided bus, reserve your seat by sending an e-mail to <a href="mailto:association.optic@gmail.com"> association.optic@gmail.com </a> stating the following informations:
<ul>
   <li>Last name and first name.</li>
   <li>Phone number.</li>
   <li>Laboratory and year of thesis.</li>
   <li>City where you will board the bus (Caen or Rouen).</li>
</ul>
We have 49 seats in total, which will be distributed fairly between Caen and Rouen. Please, do not forget that when book a seat you are engaged!
<br>
Whether you are going to the PhD Talent Career Fair by the provided bus or by your own means, do not forget to register on their site: <a href = "https://www.phdtalent.org/program.php "> https://www.phdtalent.org/program.php </a>.
  <p>
    In order to estimate the number of PhD students who are interested to attend 
    these two forums, we make a form that you are invited to fill it in:  
    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSca9DgWNhsPtuNy7TF9ytpjp1RsY6QxPvgtssP6rN_rAik31w/viewform">form</a></strong>.
  </p>
</header>
</div>
</section>
