<section id="greeting" class="post-size">
  <div class="post-content">
    <header class="major">
  <h4>Job forums for Young Doctors 2017</h4>
  <p>
    In order to help the doctors in their professional insertion, 
    three PhD associations in Normandy 
    (<strong><a href="http://assoc-optic.fr/?lang=fr">OPTIC</a></strong>,
    <strong> <a href="http://www.assonormadoc.fr/">NormaDoc</a> </strong>et
     <strong><a href="{{site.url}}/index-{{page.lang}}">ADDED</a></strong>) 
     took the initiation to organize a trip to national job forums. These 
     forums allow gathering PhD students, young researchers and also other 
     enterprises who are looking for recruiting 
     <strong>young doctors</strong>  At a first place, the two forums Biotechno 
     2017 and PhD Talent Career Fair will be an opportunity for
    <strong>young doctors </strong>to apply for <strong>jobs offers for 
      imminent recruiting</strong> and present their CVs:
  </p>
  <h4>Biotechno Forum June 2017 (<a href="http://www.reseau-biotechno.com/?page_id=2079">link</a>)</h4>
  <ul>
    <li>Discover the jobs of biotechnology and connect the young researchers 
      with biotechnologies' enterprises which are looking for recruiting them.</li>
    <li>Plenary conference, enterprises presentations, round tables, workshops, 
      stands for partners enterprises, networking, ...</li>
    <li>Organized by students associations in four cities in France (Paris, 
      Lyon, Strasbourg, Dijon), the forum in Paris will be hold the <strong>
        Jun 16<sup>th</sup> </strong>  2017 (entrance fee not fixed yet. 
        Estimated between 10 and 20€).</li>
  </ul>
  <p>
    In order to estimate the number of PhD student who are interested to attend 
    these two forums, we make a form that you are invited to fill it in:  
    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSca9DgWNhsPtuNy7TF9ytpjp1RsY6QxPvgtssP6rN_rAik31w/viewform">form</a></strong>.
  </p>
</header>
</div>
</section>
