<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>PhD Day (JDD), 13 & 14<sup>th</sup> June, 2017, at l'Université de Rouen (Madrillet site)</h4>
  <p>
    Welcome to the page of the <strong>9<sup>th</sup> edition</strong> of the 
    JDD which will take place on <strong>13-14<sup>th</sup> June 2017 at
    l’Université du Rouen at Madrillet site</strong>.
  </p>
  <p>
    This year, as a consequence of the fusion of the doctoral schools SPMII 
    (Rouen/Le Havre) and SIMEM (Caen/Cherbourg), the JDD format has slightly 
    changed. The number of the PhD students concerned by this JDD has been 
    doubled. Therefore, we choose to extend the period of the JDD from one 
    day to two days in order to give the chance to all the PhD students to 
    present their work.
  </p>
  <p>
    The JDDs are organized by the associations: <strong> 
      <a href="{{site.url}}/index-{{page.lang}}">ADDED</a> </strong>
    (Association des Doctorants et Docteurs des Écoles Doctorales PSIME/MIIS - 
    Rouen & Le Havre) <strong>and <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a> </strong>
    (Organisation Pour les Thésards 
    Interdisciplinaire de Caen). The JDDs are sponsored by the Doctoral schools 
    PSIME et MIIS.
  </p>
  <h4>Proceeding of the JDD 2017</h4>
  <p>
    This event is an occasion for the PhD students to present their work as a
    speaker or by posters. PhD students are requested to make their presentation 
    <strong>the simplest and more accessible for general public as 
      possible</strong>. This will allow people for other domains to be able 
      to understand their work. The best presentations in the different domains 
      will be rewarded throughout a scientific jury. The different domains of 
      the Doctoral schools are: Physics, Engineer Science, Mathematics, and 
      Science of Technologies of Information and Communication. Moreover, the 
      best poster will be selected through a voting of the PhD students.
  </p>
  <p>
    A mini-forum about the professional insertion of the doctors 
    will be held along with a cocktail with a musical group. 
  </p>
  <p>
    All the necessary information about the JDD can be found in this page. If 
    you have some questions, do not hesitate to contact us at:  
    : <strong><a href="mailto:organisationjdd@gmail.com">organisationjdd@gmail.com</a>
      </strong>
  </p>
  <p>
    Two compulsory steps to attend this event:
    <ol>
      <li><strong>Pre-registration before <strike>May 7<sup>th</sup></strike> <font color="red">May 17<sup>th</sup></font>   </strong>(via the following link: <a href="https://goo.gl/2q7L1o">https://goo.gl/2q7L1o</a>).</li>
      <li><strong>Registration, with 20€ of fees<sup>*</sup></strong> Can be payed in cash, transfer or check to the ADDED (<strong>before May 26<sup>th</sup></strong>).</li>
    </ol>
<strong><sup>*</sup></strong><i>Your laboratory will cover the registration fees. Please contact the administration of your laboratory. To obtain our number of SIRET, RIB (bank details) or other informations, please download: <a href="https://drive.google.com/open?id=0ByYVNAWsGuQrT0lWRWo3Umk2aXM"><strong>payement informations</strong></a> .</i>
  </p>
  <p>
     Lunch and Wednesday dinner will not be provided. Tuesday night, an appetizer buffet is provided along with a cocktail surrounded by a musical group (no fees).
  </p>
  <p>
    For lunch at the RU (university canteens: cafeteria and restaurant-brasserie) are available nearby where the JDDs will take place (less than one minute walking). A Leclerc supermarket as well as restaurants and shops of sales of sandwich, panini, salad, ... are available nearby (5 minutes of walking). In the hall of the university, below where the JDDs will take place, are also oven microwaves allowing you to bring your own food if you wish. For these who have a car, McDonald and food Station are near the campus, just like many restaurants (3-4 minutes driving). 
  </p>
  
  <h4>JDD 2017 organizers team:</h4>
  <p>
    <ul>
      <li>Marc-Aurèle Rivière</li>
      <li>Kamaldeep Singh Oberoi</li>
      <li>Deborah Michel</li>
      <li>Jean-Baptiste Louvet</li>
      <li>Ragav Ramachandran</li>
    </ul>
    
    <div class="box alt" style="width: 50%; margin: 0 auto;">
      <div class="row uniform 50%">
        <div class="4u"><span class="image fit">
            <a href={{% site.url %}}"/index-{{ page.lang }}">
          <img src={{% site.url %}}"/images/jdd/jdd2017/added.png" alt="ADDED" 
           style="height: 50%"/>
          </a>
        </span>
      </div>
      </div>
    </div>
    <h4>Documents:</h4>
    <ul>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQramlQOXgyenYxZk0">Flayer.</a></li>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQrT0lWRWo3Umk2aXM">Payement informations.</a></li>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQrMWU2U1BDa2tiY00">Main points about JDD 2017.</a></li>
    </ul>
    <h4>Program: <a href="https://drive.google.com/open?id=0ByYVNAWsGuQrZjhpamlVc1J5VWM"><strong>Provisional</strong> program of the JDD 2017.</a></h4>
  </p>
  <h4>Organizers</h4>
    <div class="box alt" style="width: 50%; margin: 0 auto;" >
      <div class="row uniform 50%" >
        
        <div class="4u" ><span class="image fit">
            <a href={{% site.url %}}"/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/added.png" alt="ADDED" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="http://assoc-optic.fr/?lang=fr">
          <img src={{% site.url %}}"/images/jdd/jdd2017/optic.jpg" alt="OPTIC" 
          style="height: 50%"/>
          </a>
        </span>
      </div>
      
      </div>
    </div>
  <h4>Parteners</h4>
  <div class="box alt" style="width: 50%; margin: 0 auto;">
    <div class="row uniform 50%">
      <div class="4u"><span class="image fit">
          <a href="http://www.normandie-univ.fr/">
        <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-univ.png" alt="normandie université" 
          style=" height: 50%"/>
        </a>
      </span>
    </div>
    <div class="4u"><span class="image fit">
        <a href="http://ed-psime.normandie-univ.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
      style="width:90%; height: 50%"/>
      </a>
    </span>
  </div>
  
  <div class="4u"><span class="image fit">
      <a href="http://ed-miis.normandie-univ.fr/">
    <img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
    style="width:45%;; height: 20%"/>
    </a>
  </span>
</div>
</div>

    
    <!-- <div class="4u"><span class="image fit">
        <a href="https://www.normandie.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-region.jpg" alt="Région Normandie" 
      style="width:75%; height: 50%"/>
      </a>
    </span>
  </div> -->
    
    </div>
  </div>
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          <div class="4u"><span class="image fit">
              <a href="http://rouenuniversity.univ-rouen.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-rouen.png" alt="Université de Rouen" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
          <div class="4u"><span class="image fit">
              <a href="https://www.univ-lehavre.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-le-havre.png" alt="Université du Havre" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.unicaen.fr/home-578581.kjsp?RH=1291198060074&RF=UNIV-EN">
          <img src={{% site.url %}}"/images/jdd/jdd2017/univ-caen.png" alt="Université de Caen" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        
    
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
          <div class="4u"><span class="image fit">
              <a href="http://www.insa-rouen.fr/accueil/index_html/view?set_language=en">
                <img src={{% site.url %}}"/images/jdd/jdd2017/insa.jpg" alt="INSA de Rouen" 
                style=" height: 50%"/>
              </a>
              </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.esigelec.fr/en">
          <img src={{% site.url %}}"/images/jdd/jdd2017/esigelec.jpg" alt="ESIGELEC" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="https://www.ensicaen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/ensicaen.gif" alt="ENSICAEN" 
          style="height: 50%"/>
          </a>
        </span>
      </div>
      
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
      <div class="4u"><span class="image fit">
          <a href="http://ed-psime.normandie-univ.fr/">
        <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
        style="width:90%; height: 50%"/>
        </a>
      </span>
    </div>
    
    <div class="4u"><span class="image fit">
        <a href="http://ed-miis.normandie-univ.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
      style="width:45%;; height: 20%"/>
      </a>
    </span>
  </div>
  
    </div>
  </div> -->
  
  <br>
  <div  class="row uniform 50%">
  <div class="col-md-6 col-sm-12" >
    
      <h4>Access plan to Rouen University at the Madrillet site.</h4>
        <div class="google-map">
          <iframe src="https://maps-api-ssl.google.com/maps?hl=en-US&ll=49.388212,1.06659&output=embed&q=Avenue+de+l%27Universit%C3%A9,+76800+Saint-%C3%89tienne-du-Rouvray,+France+%28Avenue+de+l%27Universit%C3%A9%29&z=15" 
          width="540" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
  </div>
  <div class="4u" ><span class="image fit">
    <br>
      <a href={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png">
    <img src={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png" alt="Access plan" 
    style=" height: 50%"/>
    </a>
  </span>
</div>
</div>
  
</header>
</div>
</section>
