<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>JDD, 13 & 14 Juin, 2017, à l'Université de Rouen (Site du Madrillet)</h4>
  <p>
    Bienvenue sur la page de la <strong>9<sup>ème</sup> édition</strong> des Journées Des Doctorants (JDD) 
    des écoles doctorales PSIME et MIIS qui se tiendra du <strong>13 au 14 Juin 2017 à 
    l’Université du Rouen sur le site du Madrillet</strong>.
  </p>
  <p>
    Cette année, suite à la fusion des écoles doctorales SPMII 
    (Rouen / Le Havre) et SIMEM (Caen / Cherbourg), le format de la JDD change 
    légèrement. Le nombre de doctorants concerné par cet évènement étant doublé 
    nous avons choisi de doubler sa durée afin d’accueillir tout le monde et 
    permettre à tous de s'exprimer.
  </p>
  <p>
    Les Journées Des Doctorants sont organisées par <strong>les associations 
      <a href="{{site.url}}/">ADDED</a> </strong>
    (Association des Doctorants et Docteurs des Écoles Doctorales PSIME/MIIS - 
    Rouen & Le Havre) <strong>et <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a> </strong>
    (Organisation Pour les Thésards 
    Interdisciplinaire de Caen) et parrainées par les Écoles Doctorales 
    PSIME et MIIS.
  </p>
  <h4>Déroulement des JDD 2017, à Rouen</h4>
  <p>
    Cet évènement, chaque année plus important, est l’occasion pour les 
    doctorants de présenter leurs travaux sous la forme d’une présentation ou 
    d’un poster. Ceux-ci doivent être <strong>vulgarisés</strong> pour être 
    intelligible par des 
    personnes issues de domaines différents du votre (attention à rester 
    scientifique). Des prix officiels, décernés par les écoles doctorale 
    via un jury scientifique composé de chercheurs, récompenseront les 
    meilleurs exposés dans chacune des disciplines des ED : Physique, Sciences 
    de l'ingénieur, Mathématiques et Sciences des Technologies de l'information 
    et de la Communication. Un prix du meilleur poster sera également décerné 
    par le vote des doctorants.
  </p>
  <p>
    Un mini forum sera proposé sur l'insertion professionnel des docteurs, 
    ainsi qu'un cocktail de clôture en musique.
  </p>
  <p>
    Toutes les informations sur ces journées seront mis à jour sur cette page. 
    Si besoin n’hésitez pas à contacter le comité d'organisation via l’adresse 
    : <strong><a href="mailto:organisationjdd@gmail.com">organisationjdd@gmail.com</a>
      </strong>
  </p>
  
  <p>
    Deux étapes obligatoires pour assister à cet évènement :
    <ol>
      <li><strong>Pré-inscription avant le <strike>7 Mai </strike><font color="red"> 17 Mai</font></strong>(via le lien suivant : <a href="https://goo.gl/2q7L1o">https://goo.gl/2q7L1o</a>).</li>
      <li><strong>Inscription, avec 20€ de frais<sup>*</sup></strong> à régler en liquide, virement ou chèque à l'ADDED (<strong>avant le 26 Mai</strong>).</li>
    </ol>
<strong><sup>*</sup></strong><i>votre laboratoire couvrira les frais d'inscription. Merci de contacter l'administration de votre laboratoire. Pour obtenir notre numéro de SIRET, RIB ou autre information, merci de télécharger le document: <a href="https://drive.google.com/open?id=0ByYVNAWsGuQrT0lWRWo3Umk2aXM"><strong>Informations de payement</strong></a>.</i>
  </p>
  <p>
    Les repas du midi, et du Mercredi soir ne seront pas pris en charge. Le repas du Mardi soir est quand à lui proposé avec un apéritif dinatoire lors d'un cocktail avec groupe de musique, aucun frais supplémentaires.
  </p>
  <p>
    Pour les midis, des Restaurants Universitaires (cafétéria et restaurant-brasserie) sont disponibles très proche du lieu où se dérouleront les JDD (moins d'une minute de marche). Un supermarché Leclerc ainsi que des restaurants et des boutiques de ventes de sandwich, panini, salade etc. sont présent à proximité (5min de marche). Dans le hall de l'université, en contrebas du lieu de déroulement des JDD, se trouvent également des four micro-ondes vous permettant d'apporter votre propre nourriture si vous le souhaitez. Pour ceux qui disposent d'une voiture, un McDonald et un Food Station sont présent proche du campus, tout comme de multiples restaurants (3-4 minutes en voiture). 
  </p>
  
  <h4>Comité d'organisation de la JDD 2017 :</h4>
  <p>
    <ul>
      <li>Marc-Aurèle Rivière</li>
      <li>Kamaldeep Singh Oberoi</li>
      <li>Deborah Michel</li>
      <li>Jean-Baptiste Louvet</li>
      <li>Ragav Ramachandran</li>
    </ul>
    
    <div class="box alt" style="width: 50%; margin: 0 auto;">
      <div class="row uniform 50%">
        <div class="4u"><span class="image fit">
            <a href={{% site.url %}}"/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/added.png" alt="ADDED" 
           style="height: 50%"/>
          </a>
        </span>
      </div>
      </div>
    </div>
    <h4>Documents:</h4>
    <ul>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQramlQOXgyenYxZk0">Affiche.</a></li>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQrT0lWRWo3Umk2aXM">Informations de payement.</a></li>
      <li><a href="https://drive.google.com/open?id=0ByYVNAWsGuQrb2w0NGpvNG95Nmc">Points importants des JDD 2017.</a></li>
    </ul>
    <h4>Programme: <a href="https://drive.google.com/open?id=0ByYVNAWsGuQrZjhpamlVc1J5VWM">Programme <strong>provisoire</strong> des JDD 2017.</a></h4>
  </p>
  <h4>Organisateurs</h4>
    <div class="box alt" style="width: 50%; margin: 0 auto;" >
      <div class="row uniform 50%" >
        
        <div class="4u" ><span class="image fit">
            <a href={{% site.url %}}"/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/added.png" alt="ADDED" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="http://assoc-optic.fr/?lang=fr">
          <img src={{% site.url %}}"/images/jdd/jdd2017/optic.jpg" alt="OPTIC" 
          style="height: 50%"/>
          </a>
        </span>
      </div>
      
      </div>
    </div>
  <h4>Partenaires</h4>
  <div class="box alt" style="width: 50%; margin: 0 auto;">
    <div class="row uniform 50%">
      <div class="4u"><span class="image fit">
          <a href="http://www.normandie-univ.fr/">
        <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-univ.png" alt="normandie université" 
          style=" height: 50%"/>
        </a>
      </span>
    </div>
    
      
  <div class="4u"><span class="image fit">
      <a href="http://ed-psime.normandie-univ.fr/">
    <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
    style="width:90%; height: 50%"/>
    </a>
  </span>
</div>

<div class="4u"><span class="image fit">
    <a href="http://ed-miis.normandie-univ.fr/">
  <img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
  style="width:45%; height: 20%"/>
  </a>
</span>
</div>

</div>
    
    <!-- <div class="4u"><span class="image fit">
        <a href="https://www.normandie.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-region.jpg" alt="Région Normandie" 
      style="width:75%; height: 50%"/>
      </a>
    </span>
  </div> -->
    
    </div>
  </div>
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          <div class="4u"><span class="image fit">
              <a href="http://www.univ-rouen.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-rouen.png" alt="Université de Rouen" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
          <div class="4u"><span class="image fit">
              <a href="https://www.univ-lehavre.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-le-havre.png" alt="Université du Havre" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.unicaen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/univ-caen.png" alt="Université de Caen" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        
    
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
          <div class="4u"><span class="image fit">
              <a href="http://www.insa-rouen.fr/accueil?set_language=fr&cl=fr">
                <img src={{% site.url %}}"/images/jdd/jdd2017/insa.jpg" alt="INSA de Rouen" 
                style=" height: 50%"/>
              </a>
              </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.esigelec.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/esigelec.jpg" alt="ESIGELEC" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="https://www.ensicaen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/ensicaen.gif" alt="ENSICAEN" 
          style="height: 50%"/>
          </a>
        </span>
      </div>
      
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
      <div class="4u"><span class="image fit">
          <a href="http://ed-psime.normandie-univ.fr/">
        <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
        style="width:90%; height: 50%"/>
        </a>
      </span>
    </div>
    
    <div class="4u"><span class="image fit">
        <a href="http://ed-miis.normandie-univ.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
      style="width:45%; height: 20%"/>
      </a>
    </span>
  </div>
  
    </div>
  </div> -->
  
  <br>
  <div  class="row uniform 50%">
  <div class="col-md-6 col-sm-12" >
    
      <h4>Plan d'accès à l'Université de Rouen sur le site du Madrillet</h4>
        <div class="google-map">
          <iframe src="https://maps-api-ssl.google.com/maps?hl=en-US&ll=49.388212,1.06659&output=embed&q=Avenue+de+l%27Universit%C3%A9,+76800+Saint-%C3%89tienne-du-Rouvray,+France+%28Avenue+de+l%27Universit%C3%A9%29&z=15" 
          width="540" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
  </div>
  <div class="4u" ><span class="image fit">
    <br>
    <br>
      <a href={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png">
    <img src={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png" alt="Plan d'accès" 
    style=" height: 50%"/>
    </a>
  </span>
</div>
</div>

</header>
</div>
</section>
