 <section  id="landing_features" class="wrapper style5 special">
   <div class="inner" style="width:80em; margin:0 auto;" >
     <header class="major">
       <h2>Bureau de l'ADDED</h2>
       <!-- <p>Blog posts with decent content</p> -->
     </header>
     <div class="row " >
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/pre.jpg" alt="President"
             style="width:130px;height:132px;"></i>
           <h4>Claire DEBREUX : <br>Présidente</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3ème année de thèse</li>
               <li><b>Thèse CIFRE</b> : «Étude de la ségrégation du Bore dans les
                 aciers spéciaux Ascométal®.»</li>
                 <li><b>Établissements</b> : GPM (Laboratoire d’accueil),
                   Asco Industries (Entreprise)
                   </li>
                   <li><b>Tel</b> : +33 (0) 2 35 14 71 84.</li>
                   <li><b>Bureau</b> : U1.2.69, Université de Rouen
                     (site du Madrillet).</li>
                 <li><b>Émail</b> : <br>claire.debreux[at]etu.univ-rouen.fr</li>
                 <li><b>Langues parlées</b> : Français (native), Anglais.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/vpre.png" alt="VicePresident"
             style="width:130px;height:132px;"></i>
           <h4>Xavier MONNIER : Vice-président</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3ème année de thèse</li>
               <li><b>Thèse</b> : «Etude de la mobilité moléculaire dans des
                 systèmes polymères complexes anisotropes et confinés.»</li>
                 <li><b>Établissements</b> : GPM - équipe EIRCAP
                   (Laboratoire d’accueil)</li>
                 <li><b>Émail</b> : monnierxg[at]gmail.com</li>
                 <li><b>Langues parlées</b> : Français (native), Anglais.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/tre.jpg" alt="President"
             style="width:130px;height:132px;"></i>
           <h4>Steven ARAUJO : <br>Trésorier</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3ème année de thèse</li>
               <li><b>Thèse</b> : «Amélioration des méthodes électromagnétiques
                 hautes fréquences pour la détermination de la compacité
                 d'enrobés bitumineux et caractérisation diélectriques des
                 matériaux d'enrobés.»</li>
                 <li><b>Établissements</b> : GPM - équipe EIRCAP
                   (Laboratoire d’accueil), CEREMA (Employeur)</li>
                 <li><b>Émail</b> : steven.araujo76[at]gmail.com</li>
                 <li><b>Langues parlées</b> : Français (native), Anglais.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/secang.png" alt="Secretaire anglais"
             style="width:130px;height:132px;"></i>
           <h4>Javier ANEZ PERDOMO : <br>Secrétaire (Anglais)</h4></center>
           <p>
             <ul style="text-align: left">
               <li>2ème année de thèse</li>
               <li><b>Thèse</b> : «Modeling an oil Injector for a
                 FCC Reactor.»</li>
                 <li><b>Établissements</b> : CORIA (Laboratory), and Vinci
                   Technologies (Company)</li>
                 <li><b>Émail</b> : javier.anez[at]coria.fr</li>
                 <li><b>Langues parlées</b> : Anglais, Espagnol.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/sec.jpg" alt="Secretaire"
             style="width:130px;height:132px;"></i>
           <h4>Soufiane BELHARBI : <br>Secrétaire (Français)</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3ème année de thèse</li>
               <li><b>Admnistrateur du site</b></li>
               <li><b>Thèse</b> : «Neural Networks Regularization Through Representation Learning.»</li>
                 <li><b>Établissements</b> :LITIS</li>
                 <li><b>Émail</b> : soufiane.belharbi[at]insa-rouen.fr
                 </li>
                 <li><b>Site personnel</b> : <a href="https://sbelharbi.github.io/">
                   https://sbelharbi.github.io/</a></li>
                 <li><b>Langues parlées</b> : Français, Anglais, Kabyle, Arabe,
                   Japonais (quelques mots).</li>
             </ul>
           </p>
         </div>
       </div>
     </div>

 </section>