 <section  id="landing_features" class="wrapper style5 special">
   <div class="inner" style="width:80em; margin:0 auto;" >
     <header class="major">
       <h2>ADDED's Office</h2>
       <!-- <p>Blog posts with decent content</p> -->
     </header>
     <div class="row " style="align: center">
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/pre.jpg" alt="President"
             style="width:130px;height:132px;"></i>
           <h4>Claire DEBREUX: <br>President</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3rd year PhD student</li>
               <li><b>PhD thesis</b>: «Étude de la ségrégation du Bore dans les
                 aciers spéciaux Ascométal®.»</li>
                 <li><b>Establishment</b>: GPM (Laboratoire d’accueil),
                   Asco Industries (Entreprise)
                   </li>
                   <li><b>Phone</b>: +33 (0) 2 35 14 71 84.</li>
                   <li><b>Office</b>: U1.2.69, Université de Rouen
                     (Madrillet site).</li>
                 <li><b>Email</b>: <br>claire.debreux@etu.univ-rouen.fr</li>
                 <li><b>Languages</b>: French (native), English.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/vpre.png" alt="VicePresident"
             style="width:130px;height:132px;"></i>
           <h4>Xavier MONNIER: Vice-president</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3rd year PhD student</li>
               <li><b>PhD thesis</b>: «Etude de la mobilité moléculaire dans des
                 systèmes polymères complexes anisotropes et confinés.»</li>
                 <li><b>Estalbishment</b>: GPM - équipe EIRCAP
                   (Laboratoire d’accueil)</li>
                 <li><b>Email</b>: monnierxg@gmail.com</li>
                 <li><b>Languages</b>: French (native), English.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/tre.jpg" alt="President"
             style="width:130px;height:132px;"></i>
           <h4>Steven ARAUJO : <br>Treasurer</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3rd year PhD student</li>
               <li><b>PhD thesis</b>: «Amélioration des méthodes électromagnétiques
                 hautes fréquences pour la détermination de la compacité
                 d'enrobés bitumineux et caractérisation diélectriques des
                 matériaux d'enrobés.»</li>
                 <li><b>Establishment</b>: GPM - équipe EIRCAP
                   (Laboratoire d’accueil), CEREMA (Employeur)</li>
                 <li><b>Email</b>: steven.araujo76@gmail.com</li>
                 <li><b>Languages</b>: French (native), English.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/secang.png" alt="Secretaire anglais"
             style="width:130px;height:132px;"></i>
           <h4>Javier ANES PERDOMO: <br>Secretary (English)</h4></center>
           <p>
             <ul style="text-align: left">
               <li>2rd year PhD student</li>
               <li><b>PhD thesis</b>: «Modeling an oil Injector for a
                 FCC Reactor.»</li>
                 <li><b>Établissements</b>: CORIA (Laboratory), and Vinci
                   Technologies (Company)</li>
                 <li><b>Email</b>: javier.anez@coria.fr</li>
                 <li><b>Languages</b>: English, Spanish.</li>
             </ul>
           </p>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
         <div class="service-item">
           <center><i><img src={{% site.url %}}"/images/members/sec.jpg" alt="Secretaire"
             style="width:130px;height:132px;"></i>
           <h4>Soufiane BELHARBI: <br>Secretary (French)</h4></center>
           <p>
             <ul style="text-align: left">
               <li>3rd year PhD student</li>
               <li><b>Webmaster</b></li>
               <li><b>PhD thesis</b>: «Étiquetage d’image mutli-objectif.»</li>
                 <li><b>Establishment</b>:LITIS</li>
                 <li><b>Email</b>: soufiane[dot]belharbi[at]insa-rouen[dot]fr
                 </li>
                 <li><b>Website</b>: <a href="https://sbelharbi.github.io/">
                   https://sbelharbi.github.io/</a></li>
                 <li><b>Languages</b>: French, English, Kabyle, Arabic, 
                   Japanese (few words).</li>
             </ul>
           </p>
         </div>
       </div>
     </div>

 </section>