<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/news2.gif" alt="news" /></div><div class="content">
    <h2> <a name="news">News</a></h2>
    <p style="text-align: justify;  text-justify: inter-word;">
      <ul style="text-align: justify;  text-justify: inter-word;">
        <!-- <li>Creating our <a href="otherdocs/logo1.pdf">new
  logo</a>.</li>
        <li>PhD Student Days (<em><b>JDD June, 13-14th, 2017</b></em>)
        in <em><b> Saint-Etienne du Rouvray, Technopole du Madrillet, 
          Université de Rouen Normandie</b>.
       </em>
        </li>
        <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> {{ site.knowmore[page.lang] }}</a> -->
        <li>Futsal tournament, June, 30, 2018 - 10h to 18h at campus Universitaire de Mont-Saint-Aignan. (<a href="{{% site.url %}} /evenements-fr/post-tournoifutsal18-{{page.lang}}"><span style="color:orange">+details</span></a>)
        </li>
        <li>Results of the elections of November, 06<sup>th</sup>, 2017 to nominate the new members of the office of the ADDED:
        <ul>
          <li>President : Bienvenu ATAWA.</li>
          <li>Vice-President : Lawali HABIBOU.</li>
          <li>Treasurer : Loan LAVINIUS.</li>
          <li>Secretary (Fr) : Clément FOSSE.</li>
          <li>Secretary (En) : Ragav RAMACHANDRAN.</li>
        </ul>
        We thank the PhD students who took part in the vote. We also thank the candidates for the new office and congratulations to them for their new position. Thanks to the new volunteer PhD students, the ADDED association will be able to perdure and continue serving the PhD students.
        <br>
        Soon, we will update the website to integrate the new elected memebers.
        </li>
        <!-- <li>Forum (in collaboration with the Normandy PhD students associations:
          <a href="{{site.url}}/index-{{page.lang}}">ADDED</a>,
          <a href="http://www.bio-normandie.org/">Bio'H</a>,
          <a href="http://www.assonormadoc.fr/">NormaDoc</a>,
          <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>): PhD Talent Career Fair (<em><b>October, 20<sup>th</sup> 2017</em></b>) at
          Paris.
          <br>
          <a href={{% site.url %}}"/evenements-{{page.lang}}/post-forums-d-emploi-des-jeunes-docteurs-octobre-2017-{{page.lang}}/" class="button special">{{ site.knowmore[page.lang] }}</a>
        </li> -->
      </ul>
    </p>
  </div>
</section>
