<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/news2.gif" alt="actualités" /></div><div class="content">
    <h2>Actualités</h2>
    <p style="text-align: justify;  text-justify: inter-word;">
      <ul style="text-align: justify;  text-justify: inter-word;">
        <li>Mise en place de notre <a href="otherdocs/logo1.pdf">nouveau
  logo</a>.</li>
        <li>Journées Des Doctorants (<em><b>JDD 13-14 Juin 2017</b></em>)
        à <em><b>l'Université de Rouen site du Madrillet, Saint-Etienne du Rouvray</b>.
       </em>
        </li>
        <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> En savoir plus</a>
        <li>Forums (en collaboration avec les associations :
          <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>
          de Caen et <a href="http://www.assonormadoc.fr/">NormaDoc</a>
          de Rouen):
        <ul>
          <li>Le Forum Biotechno 2017 (<em><b>16 Juin 2017</em></b>) à
           Paris.</li>
           <li>PhD Talent Career Fair (<em><b>Octobre 2017</em></b>) à
           Paris.</li>
        </ul>
        </li>
        <a href={{% site.url %}}"/evenements-{{page.lang}}/post-forums-d-emploi-des-jeunes-docteurs-juin-2017-{{page.lang}}/" class="button special"> En savoir plus</a>
      </ul>
    </p>
  </div>
</section>