<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/news2.gif" alt="news" /></div><div class="content">
    <h2>News</h2>
    <p style="text-align: justify;  text-justify: inter-word;">
      <ul style="text-align: justify;  text-justify: inter-word;">
        <li>Creating our <a href="otherdocs/logo1.pdf">new
  logo</a>.</li>
        <li>PhD Student Days (<em><b>JDD June, 13-14th, 2017</b></em>)
        in <em><b> Saint-Etienne du Rouvray, Technopole du Madrillet, 
          Université de Rouen Normandie</b>.
       </em>
        </li>
        <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> {{ site.knowmore[page.lang] }}</a>
        <li>Forums (in collaboration with the associations :
          <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>
          from Caen and <a href="http://www.assonormadoc.fr/">NormaDoc</a>
          from Rouen):
        <ul>
          <li>Biotechno Forum 2017 (<em><b>June, 16th, 2017</em></b>) à
           Paris.</li>
           <li>PhD Talent Career Fair (<em><b>October 2017</em></b>) à
           Paris.</li>
        </ul>
        </li>
        <a href={{% site.url %}}"/evenements-{{page.lang}}/post-forums-d-emploi-des-jeunes-docteurs-juin-2017-{{page.lang}}/" class="button special">{{ site.knowmore[page.lang] }}</a>
      </ul>
    </p>
  </div>
</section>