<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/news2.gif" alt="news" /></div><div class="content">
    <h2> <a name="news">News</a></h2>
    <p style="text-align: justify;  text-justify: inter-word;">
      <ul style="text-align: justify;  text-justify: inter-word;">
        <!-- <li>Creating our <a href="otherdocs/logo1.pdf">new
  logo</a>.</li>
        <li>PhD Student Days (<em><b>JDD June, 13-14th, 2017</b></em>)
        in <em><b> Saint-Etienne du Rouvray, Technopole du Madrillet, 
          Université de Rouen Normandie</b>.
       </em>
        </li>
        <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> {{ site.knowmore[page.lang] }}</a> -->
        <li>Election of new members for our association in <strong><span style="color:red"> October, 30<sup>th</sup>, 2017</span></strong>. The following positions are available: <b>President</b>, <b>Vice-president</b>, <b>Treasurer</b>, <b>French secretary</b> and <b>English secretary</b>. If you are interested, please contact us by email: <b><a href="mailto:association.added@gmail.com">
          association.added@gmail.com</a></b>.
        </li>
        <li>Forum (in collaboration with the Normandy PhD students associations:
          <a href="{{site.url}}/index-{{page.lang}}">ADDED</a>,
          <a href="http://www.bio-normandie.org/">Bio'H</a>,
          <a href="http://www.assonormadoc.fr/">NormaDoc</a>,
          <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>): PhD Talent Career Fair (<em><b>October, 20<sup>th</sup> 2017</em></b>) at
          Paris.
        </li>
        <a href={{% site.url %}}"/evenements-{{page.lang}}/post-forums-d-emploi-des-jeunes-docteurs-octobre-2017-{{page.lang}}/" class="button special">{{ site.knowmore[page.lang] }}</a>
      </ul>
    </p>
  </div>
</section>
