<section id="greeting" class="wrapper style5 special">
  <div class="inner mediumwidth">
    <header class="major">
      <h2>{% if site.greeting.title[page.lang] %}{{ site.greeting.title[page.lang] }}
        {% else %}{{ site.title[page.lang] }}{% endif %}</h2>
      <p style="text-align: justify;  text-justify: inter-word;">
        The association of the PhD students and doctors of the Doctoral Schools 
        PSIME and MIIS at Rouen & Le Havre is a community and a network of researchers,
        competence, innovation, creativity and enterprise. It is an association governed by the law 1901 created in December 2012.
        </p>

      <p style="text-align: justify;  text-justify: inter-word;"> 
        <span class="image right" >
          <a href="otherdocs/logo1.pdf"><img src={{ site.baseurl }}"/images/logo.png" alt="ADDED Logo" style="width: 40%; height: 40%;" /></span></a>      
        
         Our association aims to create interactions and connections between 
         PhD students and young doctors of the Doctoral Schools PSIME/MIIS, 
         during and after the PhD.</p>
    </header>
    <ul class="icons major"  style="width= 50%; margin: 0 auto;">
{%
    for socloc in site.social limit:3 %}{%
      if socloc[1] %}{%
        if socloc[0] == 'email' %}
      <li><a target="_blank" href="mailto:{{ socloc[1] }}" class="icon fa-envelope major style1"
             ><span class="label">E-mail</span></a></li>{%
        else %}
      <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} major style1"
             ><span class="label">{{ socloc[0] }}</span></a></li>{%
        endif %}{%
      endif %}{%
    endfor %}
    </ul>
  </div>
</section>