<section id="greeting" class="wrapper style5 special">
  <div class="inner mediumwidth">
    <header class="major">
      <h2>{% if site.greeting.title[page.lang] %}{{ site.greeting.title[page.lang] }}
        {% else %}{{ site.title[page.lang] }}{% endif %}</h2>
      <p style="text-align: justify;  text-justify: inter-word;">
        L’association des doctorants 
        et docteurs des Écoles 
        Doctorales PSIME et  MIIS sur les sites Rouen & Le Havre est 
        une communauté et un réseau de chercheurs, de compétences, 
        d’innovation, de créativité et d’entreprise. C’est une association régie par la loi 1901 créée en décembre 2012. <!--Notre association est recensée parmi les associations qui animent la vie étudiante à l'Université de Rouen Normandie (voir leur <a href="http://formation-ve.univ-rouen.fr/les-associations-etudiantes-16379.kjsp?RH=PO1-5-2">annuaire des associations</a>).!--></p>

      <p style="text-align: justify;  text-justify: inter-word;"> 
        <span class="image right" >
          <a href="otherdocs/logo1.pdf"><img src={{ site.baseurl }}"/images/logo.png" alt="ADDED Logo" style="width: 40%; height: 40%;" /></span></a> 
        Notre association a pour but de créer des liens et des échanges entre 
        les doctorants et les docteurs des Écoles Doctorales PSIME et MIIS, 
        durant et après le doctorat.</p>
    </header>
    <ul class="icons major">
{%
    for socloc in site.social limit:3 %}{%
      if socloc[1] %}{%
        if socloc[0] == 'email' %}
      <li><a target="_blank" href="mailto:{{ socloc[1] }}" class="icon fa-envelope major style1"
             ><span class="label">E-mail</span></a></li>{%
        else %}
      <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} major style1"
             ><span class="label">{{ socloc[0] }}</span></a></li>{%
        endif %}{%
      endif %}{%
    endfor %}
    </ul>
  </div>
</section>