<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/news2.gif" alt="actualités" /></div><div class="content">
    <h2><a name="actualites">Actualités</a></h2>
    <p style="text-align: justify;  text-justify: inter-word;">
      <ul style="text-align: justify;  text-justify: inter-word;">
        <!-- <li>Mise en place de notre <a href="otherdocs/logo1.pdf">nouveau
  logo</a>.</li> -->
        <!-- <li>Journées Des Doctorants (<em><b>JDD 13-14 Juin 2017</b></em>)
        à <em><b>l'Université de Rouen site du Madrillet, Saint-Etienne du Rouvray</b>.
       </em>
        </li>
        <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> En savoir plus</a> -->
        <li>Résultats des élections du 30 Octobre 2017 pour désigner les nouveaux membres du bureau de l'ADDED :
        <ul>
          <li>Président : Bienvenu ATAWA.</li>
          <li>Vice-Président : Lawali HABIBOU.</li>
          <li>Trésorier : Loan LAVINIUS.</li>
          <li>Secrétaire (Fr) : Clément FOSSE.</li>
          <li>Secrétaire (En) : Ragav RAMACHANDRAN.</li>
        </ul>
        Merci aux doctorants qui ont pris part au vote. Nous remercions également les candidats au nouveau bureau et félicitations à eux pour leur nouveau poste. Grâce aux doctorants volontaires, l'association ADDED pourra perdurer et continuer d'être aux services des doctorants.
        <br>
        Bientôt, nous mettrons à jour le site pour intégrer les nouveaux élus. 
        </li>
        <li>Élection des nouveaux membres pour notre association le <strong><span style="color:red"> 30 Octobre 2017</span></strong>. Les postes suivants sont à pourvoir : <b>Président</b>, <b>Vice-président</b>, <b>Trésorier</b>, <b>Secrétaire-francophone</b> et <b>Secrétaire-non francophone</b>. Si vous êtes intéressés, merci de nous contacter par mail : <b><a href="mailto:association.added@gmail.com">
          association.added@gmail.com</a></b>.
        </li>
        <!-- <li>Forum (en collaboration avec les associations des Doctorants en Normandie:
          <a href="{{site.url}}/index-{{page.lang}}">ADDED</a>,
          <a href="http://www.bio-normandie.org/">Bio'H</a>,
          <a href="http://www.assonormadoc.fr/">NormaDoc</a>,
          <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a>) : PhD Talent Career Fair (<em><b>20 Octobre 2017</em></b>) à
          Paris.
          <br>
          <a href={{% site.url %}}"/evenements-{{page.lang}}/post-forums-d-emploi-des-jeunes-docteurs-octobre-2017-{{page.lang}}/" class="button special"> En savoir plus</a>
        </li> -->
      </ul>
    </p>
  </div>
</section>