<section class="spotlight">
  <div class="image"><img src={{% site.url %}}"/images/jdd/jdd2017/JDD2017logo.png" alt="JDD 2017 logo" />
  </div><div class="content">
    <h2 style="text-align: center">JDD 2017, 9<sup>ème</sup> édition.</h2>
    <p>The <strong>9<sup>th</sup> edition</strong> of the JDD which will take 
      place in <strong>June, 13-14th, 2017 in Saint-Etienne du Rouvray, 
      Technopole du Madrillet, Université de Rouen Normandie</strong>.</p>

   <p>This year, as a consequence of the fusion of the doctoral schools SPMII 
     (Rouen/Le Havre) and SIMEM (Caen/Cherbourg), the JDD format has slightly 
     changed. The number of the PhD students concerned by this JDD has been 
     doubled. Therefore, we choose to extend the period of the JDD from one
     day to two days in order to give the chance to all the PhD students to 
     present their work.</p>

  <p>The JDDs are <strong> organized by the associations: 
    <a href="{{site.url }}/index-en">ADDED</a> </strong>(Association des Doctorants et Docteurs des 
    Écoles Doctorales PSIME & MIIS sur Rouen & Le Havre)  <strong> and 
      <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a> </strong>
    (Organisation Pour les Thésards Interdisciplinaire de Caen). 
    The JDDs are sponsored by the Doctoral schools PSIME et MIIS.</p>
    <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> {{ site.knowmore[page.lang] }}</a>
  </div>

</section>