<section class="spotlight" style="text-align: justify;  text-justify: inter-word;">
  <div class="image"><img src={{% site.url %}}"/images/jdd/jdd2017/JDD2017logo.png" alt="JDD 2017 logo" />
  </div><div class="content">
    <h2 style="text-align: center">JDD 2017, 9<sup>ème</sup> édition.</h2>
    <p>La <strong>9<sup>ème</sup> édition</strong> des Journées Des Doctorants (JDD) des écoles 
      doctorales PSIME et MIIS se tiendra du <strong>13 au 14 Juin 2017 
      à l’Université du Rouen sur le site du Madrillet</strong>.</p>

   <p>Cette année, suite à la fusion des écoles doctorales SPMII 
     (Rouen / Le Havre) et SIMEM (Caen / Cherbourg), le format de 
     la JDD change légèrement. Le nombre de doctorants concerné par 
     cet évènement étant doublé nous avons choisi de doubler sa 
     durée afin d’accueillir tout le monde et permettre à tous de 
     s'exprimer.</p>

  <p>Les Journées Des Doctorants sont <strong>organisées par les 
    associations <a href="{{site.url }}/">ADDED</a> </strong>(Association des Doctorants et Docteurs des 
    Écoles Doctorales PSIME & MIIS sur Rouen & Le Havre)  <strong> et 
      <a href="http://assoc-optic.fr/?lang=fr">OPTIC</a> </strong>
    (Organisation Pour les Thésards Interdisciplinaire de Caen) 
    et parrainées par les Écoles Doctorales PSIME et MIIS.</p>
    <a href={{% site.url %}}"/jdd2017-{{page.lang}}/" class="button special"> {{ site.knowmore[page.lang] }}</a>
  </div>

</section>