<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/new-phd.jpg" alt="" /></div><div class="content">
    <h2>New Doctor?</h2>
    <p>Congratulations! you obtained your doctor diploma.</p>
    <p>In order to create a newtork between doctors, we initiated the creation 
      of a database of doctors from the Doctoral Schools (SPIME, MIIS, SPMII) 
      and its different laboratories. By filling this form, you are 
      participating in the creation of this network. We thank you for that.
      Your contact will be kept private. We will put you in touch with people 
      who want to join you.</p>
      
      
      <a style="align-center" href="https://goo.gl/forms/V92KqM6ESuQtQkRp1" class="button special fit">
         {{ site.fillupform[page.lang] }} </a>
      
      <!--<a href="#" class="button fit">Remplir le Formulaire</a>-->
  </div>
</section>
