<section class="spotlight">
  <div class="image"><img src="{{% site.url %}}/images/new-phd.jpg" alt="" /></div><div class="content">
    <h2>Nouveau Docteur?</h2>
    <p>Nous vous félicitons d'avoir votre diplôme de Docteur.</p>
    <p>Dans l'objectif de créer un réseau des docteurs, nous avons 
      procédé à la création d'une base de données des docteurs 
      issus de notre école doctorale (PSIME, MIIS, SPMII) et de 
      ses différents laboratoires. En remplissant ce formulaire, 
      vous participez à la création de ce réseau. Nous vous 
      remercions. Votre contact sera conservé de manière privée. 
      Nous vous mettrons en contact avec les personnes qui 
      chercheront à vous joindre.</p>
      
      
      <a style="align-center" href="https://goo.gl/forms/V92KqM6ESuQtQkRp1" class="button special fit">
         {{ site.fillupform[page.lang] }} </a>
      
      <!--<a href="#" class="button fit">Remplir le Formulaire</a>-->
  </div>
</section>
