<section class="spotlight" style="text-align: justify;  text-justify: inter-word;">
  <div class="image"><img src="{{% site.url %}}/images/network.jpg" alt="" /></div><div class="content">
    <h2>Réseau des docteurs</h2>
    <p>Vous trouvez dans cette page une liste des docteurs issus 
      des Écoles Doctorales: PSIME, MIIS, SPMII. Cette liste est 
      organisée par année de soutenance . Vous trouverez leur 
      domaine et leur laboratoire respectif. L'objectif de cette 
      liste est de créer un réseau entre doctorants, 
      jeunes docteurs et ancien doctorants 
      (opportunités d’embauche, retours d'expériences, ...). </p>

   <p>Pour avoir le contact des docteurs listés en bas, merci de 
     nous contacter sur : <strong><a href="mailto:association.added@gmail.com">
       association.added@gmail.com</a></strong></p>
    
    <h1>** En cours de construction. **</h1>
      <a style="align-center" href="#" class="button fit special">
        {{ site.downloadlist[page.lang] }}</a>
      
      <!--<a href="#" class="button fit">Remplir le Formulaire</a>-->
  </div>
</section>