<section class="spotlight" style="text-align: justify;  text-justify: inter-word;">
  <div class="image"><img src="{{% site.url %}}/images/network.jpg" alt="" /></div><div class="content">
    <h2>Doctors' network</h2>
    <p>You will find on this page a list of doctors from the Doctoral Schools: 
      PSIME, MIIS, SPMII. The list is organized by year of dessertation. 
      The purpose behind this list is to create a network between PhD 
      students, young doctors and former PhD students (job opportunities, 
      feedback...). </p> 

   <p>If you would like their contact, please contact us : 
     <strong><a href="mailto:association.added@gmail.com">
       association.added@gmail.com</a></strong></p>
    
    <h1>** Under construction **</h1>
      <a style="align-center" href="#" class="button fit special">
        {{ site.downloadlist[page.lang] }}</a>
      
      <!--<a href="#" class="button fit">Remplir le Formulaire</a>-->
  </div>
</section>