<section id="sponsors" class="wrapper style5" >
  <div class="inner" >
    <div id="spon" style="margin:auto;align:center;width:50%">
      <a href="http://www.normandie-univ.fr/">
        <img src="images/sponsors/normandie-univ.png" alt="Normandie Univesité"
        style="width:130px;height:70px;margin-right:20px"></a>
        <!--
      <a href="http://www.univ-rouen.fr/">
       <img src="{{ site.baseurl }}/images/sponsors/univ-rouen.png"
        alt="Université de Rouen" 
        style="width:130px;height:60px;margin-right:20px">
      </a>
      
      <a href="https://www.univ-lehavre.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/univ-le-havre.png"
        alt="Université du Havre" 
        style="width:130px;height:70px;margin-right:20px">
      </a>
      <a href="http://www.insa-rouen.fr/accueil?set_language=fr&cl=fr">
      <img src="{{ site.baseurl }}/images/sponsors/insa.jpg"
        alt="INSA de Rouen" style="width:130px;height:40px;margin-right:20px" >
      </a>
      <a href="http://www.esigelec.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/esigelec.jpg"
        alt="ESIGELEC de Rouen" 
        style="width:130px;height:30px;margin-right:20px"></a> -->
      <a href="http://ed-psime.normandie-univ.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/psime.png"
        alt="École doctorale PSIME" 
        style="width:130px;height:70px;margin-right:20px">
      </a>
      <a href="http://ed-miis.normandie-univ.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/miis.png"
        alt="École doctorale MIIS" 
        style="width:90px;height:100px;">
      </a>
    </div>
    
    
    <!-- <div class="box alt" >
      <div class="row uniform 50%">
        
    <div class="4u"><span class="image fit">
        <a href="http://www.normandie-univ.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-univ.png" alt="normandie université" 
        style=" height: 1%"/>
      </a>
    </span>
  </div>
  

        <div class="4u"><span class="image fit">
            <a href="http://www.univ-rouen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/univ-rouen.png" alt="Université de Rouen" 
          style="  height: 1%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="https://www.univ-lehavre.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/univ-le-havre.png" alt="Université du Havre" 
          style=" height: 1%"/>
          </a>
        </span>
      </div>
      
</div>
</div>
<div class="box alt" >
  <div class="row uniform 50%">

    
    <div class="4u"><span class="image fit">
        <a href="http://www.insa-rouen.fr/accueil?set_language=fr&cl=fr">
          <img src={{% site.url %}}"/images/jdd/jdd2017/insa.jpg" alt="INSA de Rouen" 
          style=" height: 1%"/>
        </a>
        </span>
  </div>
  
  <div class="4u"><span class="image fit">
      <a href="http://www.esigelec.fr/">
    <img src={{% site.url %}}"/images/jdd/jdd2017/esigelec.jpg" alt="ESIGELEC" 
    style="height: 1%"/>
    </a>
  </span>
</div>

<div class="4u"><span class="image fit">
    <a href="http://ed-psime.normandie-univ.fr/">
  <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
  style=" width: 50%;height: 1%"/>
  </a>
</span>
</div>

<div class="4u"><span class="image fit">
  <a href="http://ed-miis.normandie-univ.fr/">
<img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
style="width: 40%;height: 1%"/>
</a>
</span>
</div>
    
      </div>
    </div> -->
  
  </div>

</section>