<section id="sponsors" class="wrapper style5">
  <div class="inner">
    <div id="spon">
      <a href="http://www.normandie-univ.fr/">
        <img src="images/sponsors/normandie-univ.png" alt="Normandie Univesité"
        style="width:130px;height:70px;margin-right:20px"></a>
      <a href="http://www.univ-rouen.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/univ-rouen.png"
        alt="Université de Rouen" 
        style="width:130px;height:60px;margin-right:20px">
      </a>
      <a href="https://www.univ-lehavre.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/univ-le-havre.png"
        alt="Université du Havre" 
        style="width:130px;height:70px;margin-right:20px">
      </a>
      <a href="http://www.insa-rouen.fr/accueil?set_language=fr&cl=fr">
      <img src="{{ site.baseurl }}/images/sponsors/insa.jpg"
        alt="INSA de Rouen" style="width:130px;height:70px;margin-right:20px" >
      </a>
      <a href="http://www.esigelec.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/esigelec.jpg"
        alt="ESIGELEC de Rouen" 
        style="width:130px;height:30px;margin-right:20px"></a>
      <a href="http://ed-psime.normandie-univ.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/psime.png"
        alt="École doctorale PSIME" 
        style="width:130px;height:70px;margin-right:20px">
      </a>
      <a href="http://ed-miis.normandie-univ.fr/">
      <img src="{{ site.baseurl }}/images/sponsors/miis.png"
        alt="École doctorale MIIS" 
        style="width:90px;height:100px;">
      </a>
    </div>
  </div>
</section>