<section id="greeting" class="post-size" style="text-align: justify;  text-justify: inter-word;">
  <div class="post-content">
    <header class="major">
  <h4>30 Juin, 2018, au campus Universitaire de Mont-Saint-Aignan</h4>
  <p>
    L'association ADDED a le plaisir de vous inviter à un tournoi de Futsal inter-doctorants. Ce tournoi est <strong>ouvert à tous les doctorants inscrits aux ED MIIS et PSIME ainsi qu'aux membres de leurs laboratoires respectifs</strong>. Le tournoi se déroulera le <strong>Samedi 30 Juin 2018 de 10h à 18h sur le campus Universitaire de Mont-Saint-Aignan</strong>.</p>

<h5>Règles de jeu</h5>
<p>Le tournoi est composé de poules de 4 équipes de 5 joueurs, suivi d'un tableau de tournoi standard avec rattrapages (les règles de qualification pour les arbres seront expliquées ultérieurement aux équipes participantes). Le but n'étant pas de gagner mais de participer  un minimum de 4 match sera assuré pour chaque équipes participantes et chaque participant(e)s se verra remettre une médaille pour sa participation.
</p>

<p>Pour ce qui est de la formation des équipes. Ces dernières sont mixtes et doivent comporter au minimum 5 membres (2 remplaçant(e)s facultatifs sont autorisés pour chaque équipes). De préférence les 5 (ou 7) membres doivent être originaires du même laboratoire mais des équipes inter-laboratoires sont possibles si un laboratoire n'est pas en mesure de présenter 5 membres. En ce qui concerne les laboratoires désirant présenter plusieurs équipes, nous organiserons une liste d'attente pour les équipes supplémentaires afin de permettre à tous les laboratoires de présenter au moins une équipe.</p>

<p>Une surprise attends l'équipe ayant le meilleur fanclub alors n'hésitez pas à motiver les gens de vos laboratoires pour qu'ils viennent vous supporter!</p>

<p>Une buvette sera également mise en place pour dispenser boissons et friandises aux participant(e)s et spectateurs.</p>

<h5>Inscription</h5>

<p><strong>Les inscriptions sont ouvertes jusqu'au 23 Juin 2018</strong>. Pour vous inscrire il vous suffit de nous envoyer par mail le nom et la liste des membres de votre équipe, en renseignant pour chaque membre: Nom/Prénom/mail/Laboratoire à notre adresse : <a href="mailto:association.added@gmail.com">association.added@gmail.com</a>.</p>

<em>Nous vous attendons nombreuses et nombreux pour cet événement!</em>



<!-- </div> -->
    
    <!-- <div class="4u"><span class="image fit">
        <a href="https://www.normandie.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/normandie-region.jpg" alt="Région Normandie" 
      style="width:75%; height: 50%"/>
      </a>
    </span>
  </div> -->
    
    <!-- </div> -->
  <!-- </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          <div class="4u"><span class="image fit">
              <a href="http://www.univ-rouen.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-rouen.png" alt="Université de Rouen" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
          <div class="4u"><span class="image fit">
              <a href="https://www.univ-lehavre.fr/">
            <img src={{% site.url %}}"/images/jdd/jdd2017/univ-le-havre.png" alt="Université du Havre" 
            style=" height: 50%"/>
            </a>
          </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.unicaen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/univ-caen.png" alt="Université de Caen" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        
    
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
          <div class="4u"><span class="image fit">
              <a href="http://www.insa-rouen.fr/accueil?set_language=fr&cl=fr">
                <img src={{% site.url %}}"/images/jdd/jdd2017/insa.jpg" alt="INSA de Rouen" 
                style=" height: 50%"/>
              </a>
              </span>
        </div>
        
        <div class="4u"><span class="image fit">
            <a href="http://www.esigelec.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/esigelec.jpg" alt="ESIGELEC" 
          style=" height: 50%"/>
          </a>
        </span>
      </div>
      
        <div class="4u"><span class="image fit">
            <a href="https://www.ensicaen.fr/">
          <img src={{% site.url %}}"/images/jdd/jdd2017/ensicaen.gif" alt="ENSICAEN" 
          style="height: 50%"/>
          </a>
        </span>
      </div>
      
    </div>
  </div> -->
  
      <!-- <div class="box alt" style="width: 50%; margin: 0 auto;">
        <div class="row uniform 50%">
          
      <div class="4u"><span class="image fit">
          <a href="http://ed-psime.normandie-univ.fr/">
        <img src={{% site.url %}}"/images/jdd/jdd2017/psime.png" alt="PSIME" 
        style="width:90%; height: 50%"/>
        </a>
      </span>
    </div>
    
    <div class="4u"><span class="image fit">
        <a href="http://ed-miis.normandie-univ.fr/">
      <img src={{% site.url %}}"/images/jdd/jdd2017/miis.png" alt="MIIS" 
      style="width:45%; height: 20%"/>
      </a>
    </span>
  </div>
  
    </div>
  </div> -->
  
  <!-- <br>
  <div  class="row uniform 50%">
  <div class="col-md-6 col-sm-12" >
    
      <h4>Plan d'accès à l'Université de Rouen sur le site du Madrillet</h4>
        <div class="google-map">
          <iframe src="https://maps-api-ssl.google.com/maps?hl=en-US&ll=49.388212,1.06659&output=embed&q=Avenue+de+l%27Universit%C3%A9,+76800+Saint-%C3%89tienne-du-Rouvray,+France+%28Avenue+de+l%27Universit%C3%A9%29&z=15" 
          width="540" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
  </div>
  <div class="4u" ><span class="image fit">
    <br>
    <br>
      <a href={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png">
    <img src={{% site.url %}}"/images/jdd/jdd2017/mapUnivRouen.png" alt="Plan d'accès" 
    style=" height: 50%"/>
    </a>
  </span>
</div>
</div> -->


</header>
</div>
</section>
